.produtos {
  flex: 3;
  padding: 40px 0;
  height: 100vh;
}

.produtosFooter {
  display: flex;
  padding: 40px 0;
  justify-content: space-between;
}

.produtosFooter > span {
  color: #4d89df;
  font-size: 14px;
  width: 250px;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.produtosFooter span img {
  margin-right: 20px;
}
.subtotal {
  font-weight: bold;
}
.subtotal span {
  color: #d3d3d3;
  font-size: 14px;
  margin-right: 10px;
}
.subtotal .subtotalValor {
  font-size: 20px;
  font-weight: bold;
  color: #393939;
}
