@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
  color: #393939;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

.App {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  max-width: 1185px;
  /* justify-content: space-between; */
}

@media (max-width: 1100px) {
  .App {
    flex-direction: Column;
  }
}
